.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.logo-img {
    width: 50px;
}


.nav-items {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.round-button {
    background-color: #ffa500;
    color: white;
    padding: 5px 15px;
    height: 35px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
    /* transition: background 0.3s ease; */
}

.round-button:hover {
    background-color: #e19200;
    transition: 1s ease all;
    transform: scale(0.95);
    /* Darker blue on hover */
}

.menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}

ul li {
    margin: 0 15px;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 1;
    }

    ul {
        display: none;
        flex-direction: column;
        background: #0000008c;
        position: absolute;
        top: 50px;
        right: 0;
        width: 160px;
        padding: 10px;
        height: 100vh;
        font-weight: 500;
    }

    ul.active {
        display: flex;
        position: absolute;
        top: 0;
        margin: 0;
        padding-top: 70px;
    }

    ul a {
        font-weight: 800;

    }


    ul li {
        margin: 10px 15px;
    }
}