.arch-1,
.arch-2,
.arch-3,
.arch-4 {
    /* Shades of blue */
    border-radius: 500px 500px 0 0;
    /* Create the arch shape */
    position: absolute;
    bottom: 0;
    /* Stick to the bottom */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Adjust for perfect centering */
}

.arch-1 {
    width: 590px;
    height: 300px;
    background-color: #348caf;
}

.arch-2 {
    width: 500px;
    height: 250px;
    background-color: #57a8c9;
}

.arch-3 {
    width: 375px;
    height: 195px;
    background-color: #71b6d1;
}

.arch-4 {
    width: 280px;
    height: 150px;
    background-color: #9bd2e7;
}