/* .arch-1,
.arch-2,
.arch-3,
.arch-4 {

    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .arch {
        width: 50vw;
        height: 25vw;
        bottom: 3%;
    }
}



.arch-1 {
    width: 30vw;
    height: 15vw;
    background-color: #348caf;
}

.arch-2 {
    width: 30vw;
    height: 15vw;
    background-color: #57a8c9;
}

.arch-3 {
    width: 30vw;
    height: 15vw;
    background-color: #71b6d1;
}

.arch-4 {
    width: 30vw;
    height: 15vw;
    background-color: #9bd2e7;
} */