<form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="container">
        <H2>{{showCareerForm ? 'Work with Us!':'Join Us!'}}</H2>
        <div class="form" *ngIf="!showCareerForm">

            <input type="text" formControlName="name" placeholder="Name">
            <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">Name is required.</div>


            <input type="text" formControlName="currentLocation" placeholder="Current Location">


            <input type="text" formControlName="standard" placeholder="Standard">

            <div *ngIf="userForm.controls['standard'].invalid && userForm.controls['standard'].touched">Standard is
                required.
            </div>


            <input type="text" formControlName="phoneNumber" placeholder="Phone Number">


            <div *ngIf="userForm.controls['phoneNumber'].invalid && userForm.controls['phoneNumber'].touched">
                Phone number must be 10 digits.
            </div>


            <input type="email" formControlName="email" placeholder="Email">
            <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">Enter a valid email.
            </div>
        </div>
        <div class="form" *ngIf="showCareerForm">

            <input type="text" formControlName="name" placeholder="Name">
            <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">Name is required.</div>


            <input type="text" formControlName="currentLocation" placeholder="Current Location">


            <input type="text" formControlName="subject" placeholder="Subject">

            <div *ngIf="userForm.controls['subject'].invalid && userForm.controls['subject'].touched">Standard is
                required.
            </div>


            <input type="text" formControlName="phoneNumber" placeholder="Phone Number">


            <div *ngIf="userForm.controls['phoneNumber'].invalid && userForm.controls['phoneNumber'].touched">
                Phone number must be 10 digits.
            </div>


            <input type="email" formControlName="email" placeholder="Email">
            <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">Enter a valid email.
            </div>
        </div>
        <button type="submit" [disabled]="userForm.invalid">Register</button>
    </div>
</form>